*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

span {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Medium.eot");
  src: local("../fonts/TT Norms Pro Medium"), local("TTNormsPro-Medium"), url("../fonts/TTNormsPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Bold.eot");
  src: local("../fonts/TT Norms Pro Bold"), local("TTNormsPro-Bold"), url("../fonts/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #f2f2f2;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1F1F1F;
  padding: 0 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}
.logo__img {
  width: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__item-link {
  padding: 18px 7px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 14px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__item-link:hover {
  color: #f30;
}
.menu__item:first-child {
  margin-left: 30px;
}
.menu__item:nth-child(7) {
  margin-right: 5px;
}

.dropdown-menu {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.dropdown-menu:hover .dropdown-menu__button {
  background-color: #fff;
  color: #f30;
}
.dropdown-menu:hover .dropdown-menu__list {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.dropdown-menu__button {
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.dropdown-menu__button:hover {
  background-color: #fff;
  color: #f30;
}
.dropdown-menu__button_bg-white {
  padding: 18px 7px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 14px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.dropdown-menu__button_bg-white:hover {
  background-color: #fff;
  color: #f30;
}
.dropdown-menu__button_gray {
  padding: 4px 17px 17px 17px;
  font-weight: bold;
  color: gray;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 29px;
  cursor: pointer;
}
.dropdown-menu__list {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  padding: 12px 19px;
  width: 240px;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
  z-index: 10;
  overflow: hidden;
}
.dropdown-menu__item {
  padding: 8px 0;
}
.dropdown-menu__item_hidden {
  display: none;
}
.dropdown-menu__item_hidden:nth-child(7) {
  border-bottom: 1px solid #dedede;
}
.dropdown-menu__item-link {
  padding: 0 30px;
  color: #333;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.dropdown-menu__item-link:hover {
  color: #f60;
}

.additional-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.additional-menu__button {
  margin-left: 20px;
  cursor: pointer;
}
.additional-menu__button:first-child {
  margin-left: 5px;
}

.tariffs-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85px;
  height: 30px;
  border: 1px solid white;
  border-radius: 3px;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.tariffs-button:hover {
  border-color: #f30;
  color: #f30;
}

.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
}
.search-button__img {
  width: 15px;
}

.language-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  color: gray;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.language-button:hover {
  color: #fff;
}

.authorization-button {
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.authorization-button:hover {
  color: #f30;
}

@media (max-width: 1065px) {
  .menu__item:nth-child(7) {
    display: none;
  }
  .dropdown-menu__item_hidden:nth-child(7) {
    display: block;
  }
}
@media (max-width: 980px) {
  .dropdown-menu__button_bg-white {
    display: none;
  }
  .dropdown-menu__item_hidden:nth-child(6) {
    display: block;
  }
}
@media (max-width: 910px) {
  .menu__item:nth-child(5) {
    display: none;
  }
  .dropdown-menu__item_hidden:nth-child(5) {
    display: block;
  }
}
@media (max-width: 860px) {
  .menu__item:nth-child(4) {
    display: none;
  }
  .dropdown-menu__item_hidden:nth-child(4) {
    display: block;
  }
}
@media (max-width: 780px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
  }
  .menu__item {
    display: none;
  }
  .dropdown-menu {
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
    z-index: 10;
  }
  .dropdown-menu__item_hidden {
    font-size: 18px;
  }
  .dropdown-menu__item_hidden:nth-child(-n+3) {
    display: block;
  }
  .additional-menu {
    margin-left: auto;
  }
}
.film-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 577px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/main-bg.webp);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/main-bg.webp);
  background-size: cover;
  position: relative;
}
.film-content__sound-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50px;
  height: 50px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(22, 24, 27, 0.3)), to(rgba(22, 24, 27, 0.3)));
  background-image: linear-gradient(90deg, rgba(22, 24, 27, 0.3) 0%, rgba(22, 24, 27, 0.3) 100%);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.film-content__sound-icon {
  width: 27px;
}

.film-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cover-photo {
  padding: 35px 15px 35px 35px;
}
.cover-photo__img {
  width: 140px;
  height: 205px;
}

.about-film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
.about-film__additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
.about-film__additional-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about-film__additional-item {
  margin-right: 20px;
  white-space: nowrap;
}
.about-film__name-film {
  padding: 20px 0;
  font-size: 24px;
  width: 450px;
  line-height: 40px;
}

.action-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.action-info__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FC363B;
  width: 47px;
  height: 17px;
  border-radius: 3px;
  margin-right: 8px;
  font-size: 11px;
}
.action-info__about {
  color: #f67422;
  margin-right: 20px;
}

.interaction-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.interaction-panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.interaction-panel__item:first-child {
  margin-right: 20px;
}
.interaction-panel__item:nth-child(2) {
  margin-right: 30px;
}

.watch-button__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 160px;
  height: 45px;
  background-color: #f60;
  border-radius: 3px;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.watch-button__item:hover {
  background-color: #f30;
}
.watch-button__item::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 13px solid white;
  border-bottom: 7px solid transparent;
  padding-right: 10px;
}
.watch-button__about {
  color: #b5b5b5;
  margin-top: 7px;
  font-size: 13px;
}

.save-button__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85px;
  height: 45px;
  border: 2px solid darkGray;
  border-radius: 3px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.save-button__img {
  width: 25px;
}
.save-button__about {
  color: #b5b5b5;
  margin-top: 7px;
  font-size: 13px;
  line-height: 14px;
}

.preferences-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 66px;
}
.preferences-button__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.preferences-button__like:last-child {
  margin-left: 30px;
}
.preferences-button__item-img {
  width: 30px;
}
.preferences-button__about {
  color: #b5b5b5;
  font-size: 12px;
  margin-top: 18px;
}

@media (max-width: 780px) {
  .about-film__additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 20px;
  }
  .about-film__name-film {
    width: initial;
    line-height: 30px;
  }
}
@media (max-width: 610px) {
  .film-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cover-photo {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */