* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

span,
img,
a {
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Medium.eot");
  src: local("../fonts/TT Norms Pro Medium"), local("TTNormsPro-Medium"), url("../fonts/TTNormsPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Bold.eot");
  src: local("../fonts/TT Norms Pro Bold"), local("TTNormsPro-Bold"), url("../fonts/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  background-color: #f2f2f2;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F1F1F;
  padding: 0 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.logo__img {
  width: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item-link {
  padding: 18px 7px;
  letter-spacing: 0.8px;
  color: #fff;
  text-transform: uppercase;
  line-height: 14px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__item-link:hover {
  color: #f30;
}
.menu__item:nth-child(7) {
  margin-right: 5px;
}
.menu__dropdown {
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__dropdown:hover .menu__dropdown-item {
  background-color: #fff;
  color: #f30;
}
.menu__dropdown:hover .menu__dropdown-list {
  display: block;
}
.menu__dropdown-item {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.menu__dropdown-item:hover {
  background-color: #fff;
  color: #f30;
}
.menu__dropdown-item_bg-white {
  padding: 18px 7px;
  letter-spacing: 0.8px;
  color: #fff;
  text-transform: uppercase;
  line-height: 14px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.menu__dropdown-item_bg-white:hover {
  background-color: #fff;
  color: #f30;
}
.menu__dropdown-item_gray {
  padding: 4px 17px 17px 17px;
  font-weight: bold;
  color: gray;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 29px;
  cursor: pointer;
}
.menu__dropdown-list {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  padding: 12px 19px;
  font-size: 14px;
  width: 240px;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.15);
  display: none;
}
.menu__dropdown-link {
  padding: 7px 20px;
  color: #333;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__dropdown-link:hover {
  color: #f60;
}

.additional-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.additional-menu__button {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.tariffs-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 30px;
  border: 1px solid white;
  border-radius: 3px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.tariffs-button:hover {
  border-color: #f30;
  color: #f30;
}

.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.search-button__img {
  width: 15px;
}

.language-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  color: gray;
  font-weight: bold;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.language-button:hover {
  color: #fff;
}

.authorization-button {
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.authorization-button:hover {
  color: #f30;
}

.film-content {
  height: 577px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/main-bg.webp);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/main-bg.webp);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
.film-content__sound-control {
  width: 50px;
  height: 50px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(22, 24, 27, 0.3)), to(rgba(22, 24, 27, 0.3)));
  background-image: linear-gradient(90deg, rgba(22, 24, 27, 0.3) 0%, rgba(22, 24, 27, 0.3) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.film-content__sound-icon {
  width: 27px;
}

.film-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.film-info__cover-photo {
  margin: 35px 25px 35px 35px;
}
.film-info__cover-img {
  width: 140px;
  height: 205px;
}
.film-info__about-film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.film-info__additional-info {
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.film-info__additional-item {
  margin-right: 20px;
  font-size: 13px;
}
.film-info__additional-item:first-child {
  background-color: #FC363B;
  width: 47px;
  height: 17px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  font-size: 11px;
}
.film-info__additional-item:nth-child(2) {
  color: #f67422;
}
.film-info__name-film {
  color: white;
  padding: 20px 0;
  font-size: 24px;
  width: 450px;
  line-height: 40px;
}
.film-info .interaction-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.film-info .interaction-panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.film-info .interaction-panel__revision-button {
  width: 160px;
  height: 45px;
  background-color: #f60;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
}
.film-info .interaction-panel__revision-button::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 13px solid white;
  border-bottom: 7px solid transparent;
  padding-right: 10px;
}
.film-info .interaction-panel__text {
  color: #b5b5b5;
  margin-top: 7px;
  font-size: 12px;
}
.film-info .interaction-panel__text:nth-child(-n+2) {
  font-size: 11px;
}
.film-info .interaction-panel__elect-panel {
  width: 85px;
  height: 45px;
  border: 2px solid darkGray;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.film-info .interaction-panel__elect-img {
  width: 25px;
}
.film-info .interaction-panel__preferences-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.film-info .interaction-panel__like-film {
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.film-info .interaction-panel__like-icon {
  width: 30px;
}/*# sourceMappingURL=style.css.map */