@import "./var";
@import "./mixin";
@import "./common";
@import "./fonts";

body {
	font-family: "TT Norms Pro", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	background-color: #f2f2f2;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

// header
@import "./components/header/menu";

// main
@import "./components/main/film-view"