.film-content {
	@include flex(flex-start, flex-end);

	height: 577px;
	background-image: 
		linear-gradient(90deg, 
			rgba(0,0,0,0.4) 0%, 
			rgba(0,0,0,0.4) 100%),
		url(../img/main-bg.webp);
	background-size: cover;
	position: relative;
	&__sound-control {
		@include flex();

		width: 50px;
		height: 50px;
		border: 1px solid gainsboro;
		border-radius: 50%;
		background-image:
			linear-gradient(90deg, 
				rgba(22,24,27,0.3) 0%, 
				rgba(22,24,27,0.3) 100%);
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}
	&__sound-icon {
		width: 27px;
	}
}
.film-info {
	@include flex(flex-start, flex-end);
}
.cover-photo{
	padding: 35px 15px 35px 35px;
	&__img {
		width: 140px;
		height: 205px;
	}
}
.about-film {
	@include flex(flex-start, flex-start, column);
	
	padding: 15px;
	&__additional-info {
		@include flex();

		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
	}
	&__additional-text {
		@include flex();

	}
	&__additional-item {
		margin-right: 20px;
		white-space: nowrap;
	}
	&__name-film {
		padding: 20px 0;
		font-size: 24px;
		width: 450px;
		line-height: 40px
	}
}
.action-info {
	@include flex();

	&__discount {
		@include flex();
		
		background-color: #FC363B;
		width: 47px;
		height: 17px;
		border-radius: 3px;
		margin-right: 8px;
		font-size: 11px;
	}
	&__about {
		color: #f67422;
		margin-right: 20px;
	}
}
.interaction-panel {
	@include flex();

	&__item {
		@include flex(center, center, column);

		&:first-child {
			margin-right: 20px;
		}
		&:nth-child(2) {
			margin-right: 30px;
		}
	}
}
.watch-button {
	&__item {
		@include flex();

		width: 160px;
		height: 45px;
		background-color: #f60;
		border-radius: 3px;
		font-size: 16px;
		transition: $mainHoverTransition;
		cursor: pointer;
		&:hover {
			background-color: #f30;
		}
		&::before {
			content: "";
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-left: 13px solid white;
			border-bottom: 7px solid transparent;
			padding-right: 10px;
		}
	}
	&__about {
		color: #b5b5b5;
		margin-top: 7px;
		font-size: 13px;
	}
}
.save-button {
	&__item {
		@include flex();

		width: 85px;
		height: 45px;
		border: 2px solid darkGray;
		border-radius: 3px;
		cursor: pointer;
		background-image: 
			linear-gradient(90deg, 
				rgba(0,0,0,0) 0%, 
				rgba(0,0,0,0) 100%);
	}
	&__img {
		width: 25px;
	}
	&__about {
		color: #b5b5b5;
		margin-top: 7px;
		font-size: 13px;
		line-height: 14px;
	}
}
.preferences-button {
	@include flex(center, flex-end);

	height: 66px;
	&__like {
		@include flex(center, center, column);

		cursor: pointer;
		&:last-child {
			margin-left: 30px;
		}
	}
	&__item {
		&-img {
			width: 30px;
		}
	}
	&__about {
		color: #b5b5b5;
		font-size: 12px;
		margin-top: 18px;
	}
}
@media (max-width: 780px) {
	.about-film__additional-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		line-height: 20px;
	}
	.about-film__name-film {
		width: initial;
		line-height: 30px;
	}
}
@media (max-width: 610px) {
	.film-info {
		display: flex;
		flex-direction: column
	}
	.cover-photo {
		display: none;
	}
}