.header-content {
	@include flex(space-between, center);

	background-color: #1F1F1F;
	padding: 0 10px;
}
.logo {
	@include flex();

	height: 50px;
		&__img {
			width: 100px;
		}
	}
.menu {
	@include flex();

	&__item {
		&-link {
			padding: 18px 7px;
			letter-spacing: .8px;
			text-transform: uppercase;
			line-height: 14px;
			transition: color $menuHoverTransition;
			&:hover {
				color: $menuHoverTextColor;
			}
		}
		&:first-child {
			margin-left: 30px;
		}
		&:nth-child(7) {
			margin-right: 5px;
		}
	}
}
.dropdown-menu {
	position: relative;
	transition: color $menuHoverTransition;
	&:hover &__button {
		background-color: $menuHoverBgColor;
		color: $menuHoverTextColor;
	}
	&:hover &__list {
		transform: translate(0);
	}
	&__button {
		transition: color $menuHoverTransition,
			background-color $menuHoverTransition;;
		&:hover {
			background-color: $menuHoverBgColor;
			color: $menuHoverTextColor;
		}
		&_bg-white {
			padding: 18px 7px;
			letter-spacing: .8px;
			text-transform: uppercase;
			line-height: 14px;
			transition: color $menuHoverTransition,
				background-color $menuHoverTransition;;
			&:hover {
				background-color: $menuHoverBgColor;
				color: $menuHoverTextColor;
			}
		}
		&_gray {
			padding: 4px 17px 17px 17px;
			font-weight: bold;
			color: gray;
			font-size: 24px;
			letter-spacing: 2px;
			line-height: 29px;
			cursor: pointer;
		}
	}
	&__list {
		position: absolute;
		top: 50px;
		left: 0;
		background-color: $menuHoverBgColor;
		padding: 12px 19px;
		width: 240px;
		box-shadow: 10px 10px 10px -10px rgb(0 0 0 / 15%);
		transform: translateY(-170%);
		z-index: 10;
		overflow: hidden;
	}
	&__item {
		padding: 8px 0;
		&_hidden {
			display: none;
			&:nth-child(7) {
				border-bottom: 1px solid #dedede;
			}
		}
		&-link {
			padding: 0 30px;
			color: #333;
			transition: color $menuHoverTransition;
			&:hover {
				color: #f60;
			}
		}
	}
}
.additional-menu {
	@include flex();

	&__button {
		margin-left: 20px;
		cursor: pointer;
		&:first-child {
			margin-left: 5px;
		}
	}
}
.tariffs-button {
	@include flex();

	width: 85px;
	height: 30px;
	border: 1px solid white;
	border-radius: 3px;
	letter-spacing: .5px;
	transition: color $menuHoverTransition;
	&:hover {
		border-color: $menuHoverTextColor;
		color: $menuHoverTextColor;
	}
}
.search-button {
	@include flex();

	height: 50px;
	&__img {
		width: 15px;
	}
}
.language-button {
	@include flex();

	height: 50px;
	color: gray;
	font-weight: bold;
	transition: color $menuHoverTransition;
	&:hover {
		color: #fff;
	}
}
.authorization-button {
	text-transform: uppercase;
	transition: color $menuHoverTransition;
	&:hover {
		color: $menuHoverTextColor;
	}
}

@media (max-width: 1065px) {
	.menu__item {
		&:nth-child(7) {
			display: none;
		}
	}
	.dropdown-menu__item_hidden {
		&:nth-child(7) {
			display: block;
		}
	}
}
@media (max-width: 980px) {
	.dropdown-menu__button_bg-white {
		display: none;
	}
	.dropdown-menu__item_hidden {
		&:nth-child(6) {
			display: block;
		}
	}
}
@media (max-width: 910px) {
	.menu__item {
		&:nth-child(5) {
			display: none;
		}
	}
	.dropdown-menu__item_hidden {
		&:nth-child(5) {
			display: block;
		}
	}
}
@media (max-width: 860px) {
	.menu__item {
		&:nth-child(4) {
			display: none;
		}
	}
	.dropdown-menu__item_hidden {
		&:nth-child(4) {
			display: block;
		}
	}
}
@media (max-width: 780px) {
	.header-content {
		@include flex(flex-start, center);

	}
	.logo {
		transform: translateX(55px);
	}
	.menu__item {
		display: none;
	}
	.dropdown-menu {
		transform: translateX(-110px);
		z-index: 10;
	}
	.dropdown-menu__item_hidden {
		font-size: 18px;
		&:nth-child(-n + 3) {
			display: block;
		}
	}
	.additional-menu {
		margin-left: auto;
	}
}